@import url('https://fonts.googleapis.com/css/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$orange-color: #ff4e00;
$green-color: #109533;
$dark-color: #222222;
$black-color: #000000;
$grey-color: #878787;
$white-color: #ffffff;
$light-blue-color: #56cfe1;